<!--begin::Header Mobile-->
<div id="kt_header_mobile" class="header-mobile header-mobile-fixed">

    <!--begin::Logo-->
    <a href="index.html">
        <img alt="Logo" src="~/assets/admin/media/logos/logo-letter-1.png" class="logo-default max-h-30px"/>
    </a>

    <!--end::Logo-->

    <!--begin::Toolbar-->
    <div class="d-flex align-items-center">
        <button class="btn rounded-0 p-0 burger-icon burger-icon-left" id="kt_header_mobile_toggle">
            <span></span>
        </button>
        <button class="btn btn-hover-icon-primary p-0 ml-2" id="kt_aside_mobile_toggle">
            <span class="svg-icon svg-icon-xl">
                <img data-svg="true" alt="" src="~/assets/admin/media/svg/icons/General/User.svg"/>
            </span>
        </button>
    </div>

    <!--end::Toolbar-->
</div>

<!--end::Header Mobile-->