<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop">
    <span class="svg-icon">
        <img data-svg="true" alt="" src="~/assets/admin/media/svg/icons/Navigation/Up-2.svg"/>
    </span>
</div>

<!--end::Scrolltop-->